doctype html
html
  head
    meta(charset='UTF-8')
    title Paymentservice
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 <u>I4.0 Paymentservice</u>
      h3 Zahlung erfolgreich, viel Spaß mit ihrem Drink!


       


    
