html
  head
    meta(charset='UTF-8')
    title Paymentservice
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')

    
  body

    .container.cont-success
        .icon--order-success
          svg.suc(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 130.2 130.2')
            circle.path.circle(fill='white', stroke='#66b40a', stroke-width='8', stroke-miterlimit='10', cx='65.1', cy='65.1', r='62.1')
            polyline.path.check(fill='white', stroke='#66b40a', stroke-width='8', stroke-linecap='round', stroke-miterlimit='10', points='100.2,40.2 51.5,88.8 29.8,67.5 ')
        h1 <u>I4.0 Paymentservice</u>
        h2 Sie haben die Zahlung erfolgreich abgeschlossen.
        
