html
  head
    meta(charset='UTF-8')
    title Paymentservice
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 <u>I4.0 Paymentservice Demo</u>
      h3 Hups! Da ist wohl etwas schief gelaufen
